$white: #ffffffff;
$jet: #35323aff;
$ghost-white: #f4f1f6ff;
$sunset: #fbd69cff;
$thistle: #d5ccdfff;
$buff: #d5996eff;
$cool-gray: #8d82a5ff;
$cool-gray-2: #9b8fb6ff;
$cinereous: #816f6fff;
$ultra-violet: #6d5f92ff;
$text: #413958;
$oxford-blue: #011F37ff;
$icterine: #F8F269ff;
$icterine1:#f8f169a1;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", system-ui;
  }
  
  body {
    overflow-x: hidden;
  }