$white: #ffffffff;
$jet: #35323aff;
$ghost-white: #f4f1f6ff;
$sunset: #fbd69cff;
$thistle: #d5ccdfff;
$buff: #d5996eff;
$cool-gray: #8d82a5ff;
$cool-gray-2: #9b8fb6ff;
$cinereous: #816f6fff;
$ultra-violet: #6d5f92ff;
$text: #413958;

.landingpage {
  cursor: default;
  display: block;

  .ressort {
    background-color: transparent;
    position: absolute;
    top: 40%;

    @media (min-width: 992px) {
      top: 60%;
    }

    h3 {
      font-size: 20px;
      letter-spacing: 3px;

      @media (min-width: 992px) {
        font-size: 40px;
      }
    }

    h1{
      border: none;
      font-size: 50px;
      letter-spacing: 10px;
      line-height: 1;

      @media (min-width: 992px) {
        font-size: 80px;
      }
    }

    p {
      letter-spacing: 3px;
      font-size: 12px;

      @media (min-width: 992px) {
        font-size: 20px;
      }
    }
  }

  .col-box {
    height: 200px;
    transition: all 0.3s linear;

    @media (min-width: 992px) {
      height: 700px;
    }

    .menu1{
      position: relative;
      
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("https://github.com/Manjares360/villareyesimage/blob/main/vr/photo_2024-10-29_15-33-07.jpg?raw=true");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 1;
        z-index: -1;
      }
    }

    .menu2{
      position: relative;
      
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("https://github.com/Manjares360/villareyesimage/blob/main/amacan/photo_2024-10-29_15-35-26.jpg?raw=true");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 1;
        z-index: -1;
      }
    }

    .menu3{
      position: relative;
      
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("https://github.com/Manjares360/villareyesimage/blob/main/amacan/photo_2024-10-29_15-36-45.jpg?raw=true");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 1;
        z-index: -1;
      }
    }

    .menu4{
      position: relative;
      
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("https://github.com/Manjares360/villareyesimage/blob/main/vr/photo_2024-10-29_15-40-34.jpg?raw=true");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 1;
        z-index: -1;
      }
    }
  }
}
