$ghost-white: #f4f1f6ff;
$sunset: #fbd69cff;
$thistle: #d5ccdfff;
$buff: #d5996eff;
$cool-gray: #8d82a5ff;
$cool-gray-2: #9b8fb6ff;
$cinereous: #816f6fff;
$ultra-violet: #6d5f92ff;
$text: #413958;
$oxford-blue: #011f37ff;
$icterine: #f8f269ff;
$icterine1: #f8f169a1;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", system-ui;
}

.amacan {
  .amacanpicturecontainer {
    .amacanpicture {
      width: 250px;
      height: 250px;
      background-color: white;
      background-image: url('https://github.com/Manjares360/villareyesimage/blob/main/amacan/photo_2024-10-29_15-36-47.jpg?raw=true');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      animation: image 25s infinite ease alternate-reverse;
      border: 1px solid #fff;
      transition: all 0.3s ease;

      @keyframes image {
        0% {
          background-image: url(https://github.com/Manjares360/villareyesimage/blob/main/amacan/photo_2024-10-29_15-36-47.jpg?raw=true);
        }
        20% {
          background-image: url(https://github.com/Manjares360/villareyesimage/blob/main/amacan/photo_2024-10-29_15-34-36.jpg?raw=true);
        }
        40% {
          background-image: url(https://github.com/Manjares360/villareyesimage/blob/main/amacan/photo_2024-10-29_15-34-54.jpg?raw=true);
        }
        60% {
          background-image: url(https://github.com/Manjares360/villareyesimage/blob/main/amacan/photo_2024-10-29_15-34-56.jpg?raw=true);
        }
        70% {
          background-image: url(https://github.com/Manjares360/villareyesimage/blob/main/amacan/photo_2024-10-29_15-35-26.jpg?raw=true);
        }
        80% {
          background-image: url(https://github.com/Manjares360/villareyesimage/blob/main/amacan/photo_2024-10-29_15-35-29.jpg?raw=true);
        }
        100% {
          background-image: url(https://github.com/Manjares360/villareyesimage/blob/main/amacan/photo_2024-10-29_15-34-30.jpg?raw=true);
        }
      }

      &:hover {
        transform: scale(1.05);
      }
    }

    button {
      width: 250px;
      background-color: $oxford-blue;
      color: #fff;
      font-size: 13px;
      transition: all 0.3s ease;

      &:hover {
        background-color: #003866;
      }
    }
  }

  .description {
    color: $oxford-blue;
  } 
}

.vrhousepicturecontainer {
  .vrhousepicture {
    width: 250px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: image2 25s infinite alternate-reverse;
    border: 1px solid #00000057;

    @keyframes image2 {
      0% {
        background-image: url(/public/assets/images/ressortimages/vr01.jpg);
      }
      10% {
        background-image: url(/public/assets/images/ressortimages/vr02.jpg);
      }
      20% {
        background-image: url(/public/assets/images/ressortimages/vr03.jpg);
      }
      30% {
        background-image: url(/public/assets/images/ressortimages/vr04.jpg);
      }
      40% {
        background-image: url(/public/assets/images/cover1.jpg);
      }
      50% {
        background-image: url(/public/assets/images/ressortimages/vr01.jpg);
      }
      60% {
        background-image: url(/public/assets/images/ressortimages/vr02.jpg);
      }
      70% {
        background-image: url(/public/assets/images/ressortimages/vr03.jpg);
      }
      80% {
        background-image: url(/public/assets/images/ressortimages/vr01.jpg);
      }
      90% {
        background-image: url(/public/assets/images/ressortimages/vr02.jpg);
      }
      100% {
        background-image: url(/public/assets/images/ressortimages/vr03.jpg);
      }
    }
  }

  button {
    width: 250px;
    background-color: $oxford-blue;
    color: #fff;
    font-size: 13px;
    transition: all 0.3s ease;

    &:hover {
      background-color: #003866;
    }
  }
}
