$white: #ffffffff;
$jet: #35323aff;
$ghost-white: #f4f1f6ff;
$sunset: #fbd69cff;
$thistle: #d5ccdfff;
$buff: #d5996eff;
$cool-gray: #8d82a5ff;
$cool-gray-2: #9b8fb6ff;
$cinereous: #816f6fff;
$ultra-violet: #6d5f92ff;
$text: #413958;

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0.5;
    border-radius: 50%;
  }
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgb(109, 95, 146);
  background: linear-gradient(
    11deg,
    rgba(213, 153, 110, 1) 0%,
    rgba(109, 95, 146, 0) 100%
  );
  opacity: 1;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 10s linear infinite;
}

.background li:nth-child(0) {
  left: 88%;
  width: 114px;
  height: 114px;
  bottom: -114px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 73%;
  width: 146px;
  height: 146px;
  bottom: -146px;
  animation-delay: 5s;
}
.background li:nth-child(2) {
  left: 76%;
  width: 108px;
  height: 108px;
  bottom: -108px;
  animation-delay: 7s;
}
.background li:nth-child(3) {
  left: 72%;
  width: 125px;
  height: 125px;
  bottom: -125px;
  animation-delay: 12s;
}
.background li:nth-child(4) {
  left: 54%;
  width: 102px;
  height: 102px;
  bottom: -102px;
  animation-delay: 11s;
}
.background li:nth-child(5) {
  left: 45%;
  width: 113px;
  height: 113px;
  bottom: -113px;
  animation-delay: 8s;
}
.background li:nth-child(6) {
  left: 31%;
  width: 108px;
  height: 108px;
  bottom: -108px;
  animation-delay: 7s;
}
.background li:nth-child(7) {
  left: 77%;
  width: 132px;
  height: 132px;
  bottom: -132px;
  animation-delay: 6s;
}
.background li:nth-child(8) {
  left: 20%;
  width: 144px;
  height: 144px;
  bottom: -144px;
  animation-delay: 40s;
}
.background li:nth-child(9) {
  left: 44%;
  width: 128px;
  height: 128px;
  bottom: -128px;
  animation-delay: 35s;
}
.background li:nth-child(10) {
  left: 23%;
  width: 142px;
  height: 142px;
  bottom: -142px;
  animation-delay: 20s;
}
.background li:nth-child(11) {
  left: 83%;
  width: 104px;
  height: 104px;
  bottom: -104px;
  animation-delay: 10s;
}
.background li:nth-child(12) {
  left: 13%;
  width: 121px;
  height: 121px;
  bottom: -121px;
  animation-delay: 48s;
}
.background li:nth-child(13) {
  left: 42%;
  width: 110px;
  height: 110px;
  bottom: -110px;
  animation-delay: 17s;
}
.background li:nth-child(14) {
  left: 9%;
  width: 142px;
  height: 142px;
  bottom: -142px;
  animation-delay: 6s;
}
.background li:nth-child(15) {
  left: 28%;
  width: 126px;
  height: 126px;
  bottom: -126px;
  animation-delay: 72s;
}
.background li:nth-child(16) {
  left: 78%;
  width: 149px;
  height: 149px;
  bottom: -149px;
  animation-delay: 13s;
}
.background li:nth-child(17) {
  left: 87%;
  width: 126px;
  height: 126px;
  bottom: -126px;
  animation-delay: 32s;
}
.background li:nth-child(18) {
  left: 84%;
  width: 130px;
  height: 130px;
  bottom: -130px;
  animation-delay: 26s;
}
.background li:nth-child(19) {
  left: 53%;
  width: 126px;
  height: 126px;
  bottom: -126px;
  animation-delay: 82s;
}
.background li:nth-child(20) {
  left: 70%;
  width: 106px;
  height: 106px;
  bottom: -106px;
  animation-delay: 18s;
}
.background li:nth-child(21) {
  left: 88%;
  width: 141px;
  height: 141px;
  bottom: -141px;
  animation-delay: 86s;
}
.background li:nth-child(22) {
  left: 66%;
  width: 110px;
  height: 110px;
  bottom: -110px;
  animation-delay: 79s;
}
.background li:nth-child(23) {
  left: 0%;
  width: 133px;
  height: 133px;
  bottom: -133px;
  animation-delay: 97s;
}
.background li:nth-child(24) {
  left: 68%;
  width: 147px;
  height: 147px;
  bottom: -147px;
  animation-delay: 79s;
}
.background li:nth-child(25) {
  left: 12%;
  width: 139px;
  height: 139px;
  bottom: -139px;
  animation-delay: 21s;
}
.background li:nth-child(26) {
  left: 45%;
  width: 143px;
  height: 143px;
  bottom: -143px;
  animation-delay: 7s;
}
.background li:nth-child(27) {
  left: 60%;
  width: 130px;
  height: 130px;
  bottom: -130px;
  animation-delay: 64s;
}
.background li:nth-child(28) {
  left: 40%;
  width: 114px;
  height: 114px;
  bottom: -114px;
  animation-delay: 47s;
}
.background li:nth-child(29) {
  left: 11%;
  width: 129px;
  height: 129px;
  bottom: -129px;
  animation-delay: 138s;
}
.background li:nth-child(30) {
  left: 54%;
  width: 107px;
  height: 107px;
  bottom: -107px;
  animation-delay: 47s;
}
.background li:nth-child(31) {
  left: 40%;
  width: 112px;
  height: 112px;
  bottom: -112px;
  animation-delay: 132s;
}
.background li:nth-child(32) {
  left: 51%;
  width: 146px;
  height: 146px;
  bottom: -146px;
  animation-delay: 140s;
}
.background li:nth-child(33) {
  left: 27%;
  width: 130px;
  height: 130px;
  bottom: -130px;
  animation-delay: 32s;
}
.background li:nth-child(34) {
  left: 80%;
  width: 138px;
  height: 138px;
  bottom: -138px;
  animation-delay: 126s;
}
.background li:nth-child(35) {
  left: 15%;
  width: 132px;
  height: 132px;
  bottom: -132px;
  animation-delay: 41s;
}
.background li:nth-child(36) {
  left: 21%;
  width: 150px;
  height: 150px;
  bottom: -150px;
  animation-delay: 138s;
}
.background li:nth-child(37) {
  left: 9%;
  width: 143px;
  height: 143px;
  bottom: -143px;
  animation-delay: 156s;
}
.background li:nth-child(38) {
  left: 23%;
  width: 115px;
  height: 115px;
  bottom: -115px;
  animation-delay: 166s;
}
.background li:nth-child(39) {
  left: 42%;
  width: 123px;
  height: 123px;
  bottom: -123px;
  animation-delay: 195s;
}
.background li:nth-child(40) {
  left: 23%;
  width: 123px;
  height: 123px;
  bottom: -123px;
  animation-delay: 107s;
}
.background li:nth-child(41) {
  left: 18%;
  width: 103px;
  height: 103px;
  bottom: -103px;
  animation-delay: 40s;
}
.background li:nth-child(42) {
  left: 17%;
  width: 119px;
  height: 119px;
  bottom: -119px;
  animation-delay: 75s;
}
.background li:nth-child(43) {
  left: 46%;
  width: 138px;
  height: 138px;
  bottom: -138px;
  animation-delay: 124s;
}
.background li:nth-child(44) {
  left: 76%;
  width: 113px;
  height: 113px;
  bottom: -113px;
  animation-delay: 77s;
}
.background li:nth-child(45) {
  left: 35%;
  width: 102px;
  height: 102px;
  bottom: -102px;
  animation-delay: 82s;
}
.background li:nth-child(46) {
  left: 63%;
  width: 133px;
  height: 133px;
  bottom: -133px;
  animation-delay: 177s;
}
.background li:nth-child(47) {
  left: 76%;
  width: 140px;
  height: 140px;
  bottom: -140px;
  animation-delay: 118s;
}
.background li:nth-child(48) {
  left: 12%;
  width: 112px;
  height: 112px;
  bottom: -112px;
  animation-delay: 75s;
}
.background li:nth-child(49) {
  left: 83%;
  width: 146px;
  height: 146px;
  bottom: -146px;
  animation-delay: 75s;
}
